language: python
python:
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.6"
install:
    - pip install -r requirements.txt
    - python setup.py install
script:
    - python tests/units/lib/abstract_finder_test.py
    - python tests/units/lib/abstract_reader_test.py
    - python tests/units/lib/endpoint_test.py
    - python tests/units/lib/initializer_test.py