[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
setuptools = "*"
twine = "*"
m2r = "*"
ipykernel = "*"
mkdocs = "*"
mkdocs-rtd-dropdown = "*"

[packages]
resteasy = {version = "*",editable = true}
cliff = "*"
marshmallow = "*"
pyyaml = "==3.13"

[requires]
python_version = "3.5"

[pipenv]
allow_prereleases = true
