pip==19.0.3
setuptools==40.8.0
wheel==0.33.1
twine==1.13.0
pylint==2.3.1
autopep8==1.4.3
m2r==0.2.1
ipykernel==5.1.0
mkdocs==1.0.4
mkdocs-rtd-dropdown==1.0.2
tox==3.7.0
pre-commit==1.14.4
flake8==3.7.7
pytest-cov==2.6.1
